@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body >

    <div style="text-align:center;margin-top:50px">
        <label style="font-size:25px">Góp ý</label>
        <div>
            @using (Html.BeginForm("Send", "Feedback", FormMethod.Post))
            {
                <textarea style="min-width:300px;width:500px;max-width:500px;height:400px;resize:horizontal;border-radius:5px" name="thongtin" placeholder="Nhập thông tin bạn cần góp ý" required></textarea>
                <br />
                <button style=" background-image: linear-gradient(to right,#0404B4,#A901DB); padding: 5px; padding-left: 15px; padding-right: 15px; color: white; border-radius: 20px; margin: 2%">Gửi</button>
            }
        </div>
    </div>
</body>
</html>
