.showdangbaitap {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    background-color:white
}

select {
    border-radius: 5px;
    outline: none;
    padding:5px
}

.hideDangBaitapTL {
    display: none;
    width: 100%;
    padding: 20px
}

.hideDangBaitapTN {
    display: none;
    width: 100%;
    padding: 20px
}

input.chudeTN {
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 400px;
    max-width: 400px;
}

textarea {
    max-width: 100%;
    height: 200px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    border-radius: 20px
}

.filebaitap {
    border-radius: 20px;
    background-image: linear-gradient(to right,#FF00BF,#D8D8D8);
    padding: 10px
}
.filebieumau {
    border-radius: 20px;
    background-color:cornflowerblue;
    padding: 10px
}
.dangTN, .dangTL {
    background-image: linear-gradient(to right,#0404B4,#A901DB);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 5px;
    margin-right: 2%
}

.huySuaBaitap {
    text-align: center;
    margin: auto;
    display: block;
    background-color: transparent;
    border: 0px
}

.hidedangbaitap {
    text-align: center;
    margin: auto;
    display: none;
    background-color: transparent;
    border: 0px
}

.divfilebaitap {
    padding: 10px;
    border: 0px solid black;
    border-radius: 5px;
    margin-left: 20px;
    width: fit-content;
    margin-bottom: 5px
}

.imgfilebaitap {
    background-color: transparent;
    border: 0px;
    background-size: cover
}

hr {
    border: 0.5px solid black;
    margin-bottom: 10px;
    margin-top: 0px;
}

#hideSuaBaiTap {
    width: 100%;
    border: 0px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    display: none;
    background-color:white
}
#baitap {
    width: 100%;
    border: 0px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    background-color:white
}
