@model  HOCONLINE.Models.TaiKhoan

<link href="~/Content/css/editpass.css" rel="stylesheet" />
<link href="~/Content/css/snow.css" rel="stylesheet" />

<div class="frameaccount">

    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
        <div class="snowflake">.</div>
    </div>


    <div class="account">
        @using (Html.BeginForm("CheckPass", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="diveditpass"><label style="color:white">Edit Password</label><br /><label style="color:white">Complete your Password</label></div>

            <div class="form-group bmd-form-group" style="margin-top:-20px">
                <label class="bmd-label-floating" style=" color: white;">Old password</label><br />
                <input type="password" name="pass1" placeholder="Mật khẩu cũ"  required /><br />
            </div>
            <div class="form-group bmd-form-group">
                <label class="bmd-label-floating" style=" color: white;">New password</label><br />
                <input type="password" name="pass2" required placeholder="Mật khẩu mới" pattern=".{5,20}" title="Minimum length  is 5 maximum length is 20" /><br />
            </div>
            <div class="form-group bmd-form-group">
                <label class="bmd-label-floating" style=" color: white;">Confirm new password</label><br />
                <input type="password" name="pass3" placeholder="Xác nhận mật khẩu mới" pattern=".{5,20}" title="Minimum length  is 5 maximum length is 20" required /><br />
            </div>

            <div class="form-group bmd-form-group">
                <button type="submit" class="btn btn-primary " style="margin-top:20px;border-radius:50px">Update Profile</button>
            </div>

            <br />
            @Html.ValidationMessage("Erroreditpass", new { @class = "text-danger", @color = "black" })


        }

    </div>




</div>
