.thongbaomoi {
    display: none;
    border-radius: 10px;
    background-image: linear-gradient(to left, #1A6EFF, pink);
    text-align: center;
    width: 10%;
    margin: 5px auto;
    position: fixed;
    right: 10px;
    left: 10px;
    z-index:9999;
}

.anhnguoidung {
    height: 200px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 0px solid black
}

.ngaytao {
    font-size: 20px
}

.malop {
    font-size: 15px
}

.editclass {
    background-color: transparent;
    border: 0px;
    margin: 20px;
    font-size: 20px;
    color: black
}

.dangtb {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    background-color:black
}

.showthongbao {
    text-align: center;
    margin: auto;
    display: block;
    background-color: transparent;
    border: 0px
}

.thongbaobaitap {
    width: 100%;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    background-color:white
}

#dang {
    background-image: linear-gradient(to right,#0404B4,#A901DB);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 20px;
    margin-right: 2%
}

.hidethongbao {
    text-align: center;
    margin: auto;
    display: block;
    background-color: transparent;
    border: 0px
}

.themfiletb {
    border-radius: 20px;
    background-image: linear-gradient(to right,#FF00BF,#D8D8D8);
    padding: 10px
}

textarea {
    max-width: 100%;
    height: 200px;
    width: 100%
}

.thongbao {
    width: 100%;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    background-color:white;
}

hr {
    border: 0.5px solid #848484;
    margin: 5px;
}

.filethongbao {
    padding: 10px;
    border: 0px solid black;
    border-radius: 5px;
    margin-left: 20px;
    width: fit-content;
    margin-bottom: 5px
}

.anhfilethongbao {
    background-color: transparent;
    border: 0px;
    background-size: cover
}

.huysuaThongBao {
    text-align: center;
    margin: auto;
    display: block;
    background-color: transparent;
    border: 0px
}
