@model List<DOANTOTNGHIEP.Models.ThanhVienLop>
@{
    Layout = "~/Views/Shared/Layoutclass.cshtml";
    var user = Session["user"] as DOANTOTNGHIEP.Models.TaiKhoan;
    string nguoitao = user.TenDangNhap;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        .divthanhvien::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        #thanhvien:hover {
            font-size: 20px;
        }

        .divthanhvien {
            float: left;
            border: 0px solid #000000;
            width: 14%;
            height: 100%;
            overflow-y: scroll;
            padding-top: 10px;
            background-color:white;
            border-radius:10px;
            box-shadow: 10px 5px 5px rgb(0 0 0 / 10%);
            margin:10px 0px 10px 10px
        }

        #thanhvien {
            width: 100%;
            border: 0px;
            text-align: left;
            height:70px
        }

        .divmess {
            float: right;
            border: 0px solid #000000;
            width: 83%;
            height: 100%;
            border-radius: 10px;
            background-color: white;
            box-shadow: 10px 5px 5px rgb(0 0 0 / 10%);
            margin: 10px 20px 0px 10px
        }
    </style>


  
    <script type="text/javascript">
        $(document).ready(function () {
            $('.0').trigger("click");
            
        });
        reset();
        $('.headmess').css("color", "black");
        $('.headmess').css("background-color", "white");
       
    </script>
</head>
<body>
    <div  style="height:100%;">



        @*thanh vien lop*@
        <div class="divthanhvien">
            <div class="nguoimoi"> </div>
                @{
                    int z = 0;
                    foreach (var i in Model)
                    {
                        if (!i.Mathanhvien.Equals(nguoitao))
                        {
                            using (Ajax.BeginForm("InforMess", new { id = i.Mathanhvien }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mess" }))
                            {

                                <div style="width:100%;border:0px;margin-bottom:0px;" id="thanhvien" class="thanhvien_@i.TaiKhoan.TenDangNhap">
                                    <button  class=@z style="width: 100%; border: 0px; background-color: transparent; text-align: left">
                                        <img class="navbar-link" src=@i.TaiKhoan.HinhAnh width="50" height="50" style="border-radius:45px;" />
                                        @i.TaiKhoan.Ho @i.TaiKhoan.Ten

                                    </button>
                                </div>
                                z++;
                            }
                        }

                    }
                }
            </div>

            @*tin nhan*@
            <div class="divmess" id="mess" style="background-color:white">

            </div>
        </div>
</body>
</html>
