

.frameaccount {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background-color: #040d21;
    margin-top: -20px;
    background-image: url(https://github.githubassets.com/images/modules/site/home/hero-glow.svg);
    background-size: cover
}

.account {
    position: relative;
    text-align: left;
    border: 0px solid #000000;
    min-width:350px;
    width: 30%;
    height: 500px;
    background: #5858FA;
    background-color: rgba(0,0,0,0.2);
    padding: 40px;
    border-radius: 10px;
    margin: 10% auto;
    display: block;
}


.glyphicon-remove-circle:hover {
    background-color: black;
    border-radius: 10px;
}

.diveditpass {
    background-image: linear-gradient(60deg, #5858FA, #081C46);
    position: relative;
    width: 90%;
    right: 20px;
    left: 20px;
    top: -80px;
    border-radius: 5px;
    text-align: left;
    padding: 20px
}

input {
    border-radius: 5px;
    width: 90%;
    
    max-width: 90%;
    outline: none;
}
input {
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid #444;
    padding: 12px 40px 12px 20px;
    color:white;
}
    input::placeholder {
        color: white;
    }
    input:focus, input:focus::placeholder, input:focus + i {
        color: #ff1464;
    }



