* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: calibri;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url('../../Content/image/imagelogin/photo-1-16034517575521192609863.jpg');
}

.newpass {
    text-align: center;
    position: relative;
    width: 280px;
    background-color: transparent;
    border-radius: 20px;
}

.newpassa {
    padding: 50px;
    width: 380px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    height: 400px;
}

li, ul {
    list-style-type: none;
}

input, button {
    width: 100%;
    border: 0;
    border-radius: 20px;
}

input {
    background: rgba(0,0,0,0.5);
    border-bottom: 2px solid #444;
    padding: 12px 40px 12px 20px;
}


input, button, .group i, p, a {
    font-size: 13.3333px;
    font-weight: 600;
    color: aliceblue
}

.group {
    margin-bottom: 10px;
    position: relative;
}

    .group i {
        position: absolute;
        top: 15px;
        right: 20px;
    }

button {
    padding: 12px;
    background-image: linear-gradient(to right, #1A6EFF, purple);
    margin-bottom: 20px;
    cursor: pointer;
}

    button, button i {
        color: #ffffff;
    }

        button i {
            margin-right: 5px;
        }

li {
    color: aliceblue;
}

p {
    margin-bottom: 20px;
}

i.fa.fa-empire, a {
    color: #ff1464;
}

i.fa.fa-empire {
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

input:focus, input:focus::placeholder, input:focus + i {
    color: #ff1464;
}

input:focus, button:focus {
    outline: 0;
}





#fafa-send {
    color: white;
    text-decoration: none;
}
