@using Spire.PdfViewer.Asp;
@{

    Layout = "~/Views/Shared/Layoutclass.cshtml";
    var user = Session["user"] as DOANTOTNGHIEP.Models.TaiKhoan;
    string nguoitao = user.TenDangNhap;
    DOANTOTNGHIEP.Models.ThongBao tb = new DOANTOTNGHIEP.Models.ThongBao();
    var malop = Session["malop"].ToString();
    var lophoc = Session["lophoc"] as DOANTOTNGHIEP.Models.LopHoc;
    
    

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        .anhload {
            position: relative;
            margin: auto;
            display: block;
            top: 20%;
        }

        form {
            margin-block-end: 0em;
        }

        .noidung {
            width: 100%;
            max-width: 90%;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 20px;
            outline: none;
            background-color: #BDBDBD;
            color: white;
        }

            .noidung:focus {
                background-color: white;
                color: black;
            }

        #tailieu {
            margin-top: 40px
        }


        .file-upload {
            background-color: #ffffff;
            width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .file-upload-btn {
            width: 100%;
            margin: 0;
            color: #fff;
            background: #1FB264;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #15824B;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .file-upload-btn:hover {
                background: #1AA059;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .file-upload-btn:active {
                border: 0;
                transition: all .2s ease;
            }

        .file-upload-content {
            display: none;
            text-align: center;
        }

        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .document-upload-wrap {
            margin-top: 20px;
            border: 4px dashed #1FB264;
            position: relative;
        }

            .image-dropping,
            .document-upload-wrap:hover {
                background-color: #1FB264;
                border: 4px dashed #ffffff;
            }

        .document-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }

        .drag-text {
            text-align: center;
        }

            .drag-text h3 {
                font-weight: 100;
                text-transform: uppercase;
                color: #15824B;
                padding: 60px 0;
            }

        .file-upload-image {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }

        .remove-image {
            width: 200px;
            margin: 0;
            color: #fff;
            background: #cd4535;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #b02818;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .remove-image:hover {
                background: #c13b2a;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .remove-image:active {
                border: 0;
                transition: all .2s ease;
            }


    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            reset();
            $('.headthuvien').css("color", "black");
            $('.headthuvien').css("background-color", "white");

            $(window).on('load', function (event) {
                $('body').removeClass('preloading');
                // $('.load').delay(1000).fadeOut('fast');
                $('.loader').delay(1000).fadeOut('fast');
            });


            $('#search').trigger("click");
            $('#search').click(function () {
                $('.loader').css("display", "block");
                $('#tailieu').css("display", "none");
            });


        });

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.document-upload-wrap').hide();

                    $('.file-upload-image').attr('data', e.target.result);
                    $('.file-upload-content').show();

                    $('.document-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith(` <input class="file-upload-input filedocumentupload" name="filedocumentupload" type='file' onchange="readURL(this);" accept="application/pdf" />`);
            $('.file-upload-content').hide();
            $('.document-upload-wrap').show();
        }
        $('.document-upload-wrap').bind('dragover', function () {
            $('.document-upload-wrap').addClass('image-dropping');
        });
        $('.document-upload-wrap').bind('dragleave', function () {
            $('.document-upload-wrap').removeClass('image-dropping');
        });

        function checkuploadfile() {
            var texttitledocument = $(".titledocument").val();
            var file = $('.filedocumentupload').val()
            if (texttitledocument.length == 0) {
                alert("vui lòng điền thông tin tài liệu muốn upload")
                return false;

            }
            else if (file.length==0) {
                alert("vui lòng chọn tài liệu muốn upload")
                return false;
            }
            return true;
           
            
        }


    </script>
</head>
<body style="">
    <div style="width:100%;border-bottom:1px solid black">

        <div style="text-align:center;padding:10px;background-color:#292929;z-index:299;position:fixed;top:auto;right:0px;left:0px;display:grid;grid-template-columns:auto 50px;">
            @using (Ajax.BeginForm("Searchlibrary", "Library", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tailieu", InsertionMode = InsertionMode.Replace }))
            {
                <div style="flex:1">
                    <button type="submit" class="glyphicon glyphicon-search " style="font-size:20px;background-color:transparent;border:0px;color:white" id="search"></button>
                    <input class="noidung" type="text" name="noidungcantin" placeholder="search">
                </div>
            }
            @{
                if (lophoc.NguoiTao.Equals(nguoitao))
                {


                    <button class="glyphicon glyphicon-open" style="font-size: 20px; background-color: transparent; border: 0px; color: white; flex: 1" data-toggle="modal" data-target="#modalshowupload"></button>

                }
            }
        </div>
        @{
            if (lophoc.NguoiTao.Equals(nguoitao))
            {

                <div class="container">


                    <!-- Modal -->
                    <div class="modal fade" id="modalshowupload" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content" style="width: fit-content;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Upload tài liệu</h4>
                                </div>
                                @using (Html.BeginForm("Uploaddocument", "Library", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="usr">Tiêu đề tài liệu:</label>
                                            <input type="text" class="form-control titledocument" name="titledocument" style="min-width: 100%;">
                                        </div>

                                        <div class="file-upload">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add document</button>

                                            <div class="document-upload-wrap">
                                                <input class="file-upload-input filedocumentupload" name="filedocumentupload" type='file' onchange="readURL(this);" accept="application/pdf" />
                                                <div class="drag-text">
                                                    <h3>Drag and drop a file or select add pdf</h3>
                                                </div>
                                            </div>
                                            <div class="file-upload-content">
                                                <object type="application/pdf" data="#" class="file-upload-image">
                                                </object>
                                                <div class="document-title-wrap">
                                                    <label type="button" onclick="removeUpload()" class="remove-image" style="cursor:pointer">Remove </label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="modal-footer">
                                        <button class="join btn btn-info btn-lg" onclick=" return checkuploadfile() " style=" padding: 5px; padding-left: 15px; padding-right: 15px; color: white; border-radius: 20px; margin: 2%">Tải lên</button>

                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                </div>
            }
        }


    </div>

    <div>
        <div class="loader" style="width:100%;height:100%;background-color:#292929;display:none">
            <img src="~/Content/image/Icon/b7671b668a78e0208b9c2d1c36802ce8.gif" class="anhload" />
            <span class="fas fa-spinner xoay icon"></span>
        </div>
        <div id="tailieu">

        </div>


    </div>
   
</body>
</html>
