@{

   
    var tailieu = ViewData["s"] as List<DOANTOTNGHIEP.Models.Tailieu>;

}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        
        .tl{
            display:none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.loader').css("display", "none");
            $('#tailieu').css("display", "block");
            $('.tl').fadeIn(3000);
            
        });
        function actionshowviewpdf(link) {
            console.log(12313);
            $(".viewshowpdf").attr('data', link);
        }
    </script>
</head>

<div id="tailieu">
    @if (tailieu.Count == 0)
    {

        <div style="width:100%;height:80%;text-align:center">

            <img src="~/Content/image/Icon/library-owl.jpg" style="width:30%" />
            <br />
            <label style="font-size:20px">
                Tài liệu liên bạn cần tìm không có trong hệ thống
            </label>

        </div>

    }




    <div style="margin:5px auto" class="tl">
        @{

            if (tailieu != null)
            {
                foreach (var tl in tailieu)
                {
                    <div style="width:250px;float:left;height:320px;margin:25px;">
                        <div style="border-radius: 10px; background-image: linear-gradient(to top,#5DFFF9,#812EEF);height:90%;text-align:center;padding:10px">
                            <div style="height:90%"><img src="@tl.anh" /></div>
                            <div style="height:10%"><label style="overflow:hidden; text-overflow:ellipsis;white-space:nowrap">@Html.Raw(@tl.ten)</label></div>
                        </div>
                        <div style="height:10%;margin:2px auto"> <button class="btn btn-primary btn-block" onclick="actionshowviewpdf(`@tl.duongdan`)" data-toggle="modal" data-target="#modalshowviewpdf">View</button></div>
                    </div>

                }




            }

        }

    </div>
    <div class="container">


        <!-- Modal -->
        <div class="modal fade" id="modalshowviewpdf" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="width: fit-content;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload tài liệu</h4>
                    </div>
                    <object type="application/pdf" data="#" class="viewshowpdf" style="width:80%;height:80%">
                    </object>
                </div>

            </div>
        </div>

    </div>
</div>

